<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %div 
      %span Your account has been activated! Welcome, you can now join 
      %a{:href => "http://www.FollowGrubby.com/home"} http://www.FollowGrubby.com
      %span !
