#article_content
  #header.partner
    %center
      %span.partners Partners
      %span.other= " of Team Grubby"
  #partner_body
    %br
    %center
      %div{:style => "width: 90%; height: 210px"}
        %span{:style => "float:left"}
          = image_tag("/images/steel_logo.png")
        %span{:style => "color: #BFBFBF; float: left; font-size: 14px; margin-left: 35px; width: 470px;"}
          %div Steelseries is the official sponsor of Team Grubby.
          %br
          %div SteelSeries is a leading manufacturer of gaming peripherals, including headsets, keyboards, mice, software and gaming surfaces. For the past decade, SteelSeries has been on the forefront of competitive gaming gear thanks to continued innovation and product development in cooperation with leading professional gaming teams. 
          %br
          %div 
            %span SteelSeries also supports the growth of competitive gaming tournaments and electronic sports leagues through professional team sponsorships, partnerships, and community support all over the world. For more information, please visit 
            %a{:href => "http://steelseries.com/", :target => "_blank"} steelseries.com.
      %br
      %div{:style => "color: #BFBFBF; font-size: 14px;margin-top: 25px; width: 90%;"} 
        %span Grubby is entering the 2011 professional StarCraft II tournament season with SteelSeries as his main sponsor fully supported with SteelSeries peripherals in his arsenal including, the 
        %a{:href => "http://steelseries.com/products/audio/steelseries-7h", :target => "_blank"} SteelSeries 7H headset,
        %span the
        %a{:href => "http://steelseries.com/products/surfaces/steelseries-5l", :target => "_blank"} SteelSeries 5L mousepad,
        %span the
        %a{:href => "http://steelseries.com/products/mice/steelseries-ikari-laser", :target => "_blank"} SteelSeries Ikari Laser mouse,
        %span and the
        %a{:href => "http://steelseries.com/products/keyboards/steelseries-6gv2", :target => "_blank"} SteelSeries 6Gv2 keyboard.
      %br
        = image_tag("/images/steel_products.png")
