- if (@forum.open? && current_user.can?(:start_new_topics, @forum)) || (!@forum.open? && current_user.can?(:post_in_closed_forums, @forum))
  
  %span.add_topic
    = image_tag("blue_plussign.png")
    = link_to("Add a Topic", new_forum_topic_path(@forum))