.button {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-family: 'cgoth', 'century gothic,' verdana,arial,helvetica,sans-serif;
  padding: 2px 7px 2px 6px;
  text-align: center;
  border: 0 none;
  background-color: white;
  color: black;
  font-size: 16px; }

@font-face {
  font-family: "cgoth";
  font-family-src: url("/fonts/gothic-webfont.eot");
  font-family-src: local("☺"), url("/fonts/gothic-webfont.woff") format("woff"),  url("/fonts/gothic-webfont.otf") format("opentype"),  url("/fonts/gothic-webfont.svg#gothic-webfont") format("svg"); }

@font-face {
  font-family: "cgothi";
  src: url("/fonts/gothici-webfont.eot");
  src: local("☺"),  url("/fonts/gothici-webfont.woff") format("woff"), url("/fonts/gothici-webfont.otf") format("opentype"), url("/fonts/gothici-webfont.svg#gothici-webfont") format("svg"); }

@font-face {
  font-family: "cgothb";
  src: url("/fonts/gothicb-webfont.eot");
  src: local("☺"),  url("/fonts/gothicb-webfont.woff") format("woff"),  url("/fonts/gothicb-webfont.otf") format("opentype"),  url("/fonts/gothicb-webfont.svg#gothicb-webfont") format("svg"); }

@font-face {
  font-family: "cgothbi";
  src: url("fonts/gothicbi-webfont.eot");
  src: local("☺"),  url("/fonts/gothicbi-webfont.woff") format("woff"),  url("/fonts/gothicbi-webfont.otf") format("opentype"), url("/fonts/gothicbi-webfont.svg#gothicbi-webfont") format("svg"); }

.add_more {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-family: 'cgoth', 'century gothic,' verdana,arial,helvetica,sans-serif;
  padding: 2px 7px 2px 6px;
  text-align: center;
  border: 0 none;
  background-color: white;
  color: black;
  font-size: 16px; }

body {
  background-color: #101010;
  font-family: 'cgoth', 'century gothic,' verdana,arial,helvetica,sans-serif;
  color: white; }
  body .wrapper {
    width: 1011px;
    margin: 0 auto; }

#background {
  background-image: url("/images/site_background.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  position: relative;
  z-index: 0;
  margin: 0 auto;
  padding-top: 183px; }

input {
  font-family: 'cgoth', 'century gothic,' verdana,arial,helvetica,sans-serif; }

ul {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

img {
  border: 0; }

.grey {
  color: grey; }

#fb_connect {
  cursor: pointer; }

#user_nav {
  position: absolute;
  top: 0px;
  height: 34px;
  line-height: 34px;
  background-color: rgba(0,0,0,0.1);
  color: white; }
  #user_nav img {
    vertical-align: middle; }
  #user_nav a.signup {
    vertical-align: middle;
    color: white;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-family: 'cgoth', 'century gothic,' verdana,arial,helvetica,sans-serif;
    padding: 2px 7px 2px 6px;
    text-align: center;
    border: 0 none;
    background-color: white;
    color: black;
    font-size: 16px;
    height: 17px;
    line-height: 17px; }
  #user_nav #password {
    position: absolute; }
  #user_nav #password_div {
    position: absolute; }
  #user_nav form.shown {
    background-color: black;
    border: 1px white solid; }
  #user_nav form {
    padding: 3px;
    display: inline-block;
    height: 85px;
    width: 200px;
    border: 0;
    margin: 0;
    border: 1px transparent solid;
    -moz-border-radius: !top !right !bottom !left;
    border-top-left-radius: !top;
    border-top-right-radius: !right;
    border-bottom-right-radius: !bottom;
    border-bottom-left-radius: !left; }
    #user_nav form input {
      width: 200px; }
    #user_nav form #submit {
      -moz-border-radius: 5px 5px 5px 5px;
      -webkit-border-radius: 5px;
      cursor: pointer;
      display: inline-block;
      font-family: 'cgoth', 'century gothic,' verdana,arial,helvetica,sans-serif;
      padding: 2px 7px 2px 6px;
      text-align: center;
      border: 0 none;
      background-color: white;
      color: black;
      font-size: 16px;
      position: absolute;
      top: 25px;
      line-height: 14px;
      left: 129px;
      height: 25px;
      width: 70px; }
    #user_nav form #remember_label {
      color: white;
      font-size: 11px;
      line-height: 25px;
      position: absolute;
      top: 25px;
      width: 200px; }
    #user_nav form #remember_me {
      position: absolute;
      top: 28px;
      left: 91px;
      width: 200px; }
  #user_nav input {
    background-color: white;
    border: 0;
    height: 20px;
    vertical-align: middle;
    color: black;
    font-size: 14px;
    font-family: 'cgothb', 'century gothic,' verdana,arial,helvetica,sans-serif;
    font-weight: bold; }

#logo_box {
  position: absolute;
  top: 26px;
  z-index: -1; }

.sponsor {
  position: absolute;
  left: 500px;
  z-index: -1;
  top: 0px; }

#content {
  width: 1011px;
  background-image: url("/images/content_bg.png");
  background-repeat: repeat-y;
  background-position: center;
  min-height: 2000px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 30px;
  display: table; }
  #content #main {
    float: left;
    padding-left: 40px;
    width: 740px; }
    #content #main #ad_banner {
      height: 90px;
      width: 728px;
      display: block;
      background-color: #b9b9b9;
      margin-bottom: 10px; }
  #content #side_bar {
    float: right;
    width: 200px; }
    #content #side_bar .box {
      height: 181px;
      width: 180px;
      background-color: #030303;
      background: -moz-linear-gradient(top left,  #363636,  #030303);
      background: -webkit-gradient(linear, left top, right bottom, from(#363636), to(#030303));
      -moz-border-radius: 10px 10px 10px 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
      margin-top: 15px;
      position: relative; }
      #content #side_bar .box .inner_box {
        height: 170px;
        left: 12px;
        position: absolute;
        top: 27px;
        width: 170px; }
        #content #side_bar .box .inner_box .follow {
          font-family: 'cgothb', 'century gothic,' verdana,arial,helvetica,sans-serif;
          color: #656565;
          font-weight: bold;
          margin-left: -6px; }
        #content #side_bar .box .inner_box img {
          -moz-border-radius: 5px 5px 5px 5px;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
          -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); }
    #content #side_bar .calendar {
      width: 180px;
      height: 350px;
      margin-top: 20px;
      padding-top: 15px;
      position: relative;
      background-color: #030303;
      background: -moz-linear-gradient(top left,  #363636,  #030303);
      background: -webkit-gradient(linear, left top, right bottom, from(#363636), to(#030303));
      -moz-border-radius: 10px 10px 10px 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5); }
      #content #side_bar .calendar #datepicker {
        width: 175px; }

#news {
  background-image: url("/images/ticker_background_fix.png");
  width: 750px;
  height: 550px;
  margin-left: -10px;
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: 'cgoth', 'century gothic,' verdana,arial,helvetica,sans-serif;
  position: relative; }
  #news #loading {
    position: absolute;
    left: 27px;
    top: 18px;
    opacity: 0; }
  #news .title_box {
    position: absolute;
    left: 25px;
    top: 35px;
    width: 200px;
    height: 125px; }
    #news .title_box .title {
      color: white; }
    #news .title_box .tag_line {
      color: #878787;
      margin-left: 20px;
      margin-top: 10px; }
  #news .picture {
    position: absolute;
    right: 17px;
    top: 15px; }
  #news .news_item {
    font-size: 12px;
    font-family: 'cgothb', 'century gothic,' verdana,arial,helvetica,sans-serif;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    padding-left: 30px;
    color: #d7d7d7;
    position: absolute;
    left: 15px;
    width: 177px; }
  #news .news_item.selected a {
    color: white; }
  #news .arrow {
    width: 12px;
    height: 10px;
    background-image: url("/images/arrow.png");
    position: absolute;
    left: 12px;
    top: 11px; }
  #news .summary {
    position: absolute;
    right: 35px;
    bottom: 60px;
    width: 475px;
    height: 145px;
    padding-left: 25px;
    padding-top: 10px; }
    #news .summary .title {
      font-family: 'cgothb', 'century gothic,' verdana,arial,helvetica,sans-serif;
      font-weight: bold;
      color: #06264b;
      font-size: 22px;
      margin-bottom: 10px; }
    #news .summary .body {
      font-family: 'cgothb', 'century gothic,' verdana,arial,helvetica,sans-serif;
      font-weight: bold;
      line-height: 16px; }

#features {
  margin-left: -10px;
  width: 749px;
  background-color: #000000;
  padding-top: 30px;
  background: url("/images/scales.jpg") no-repeat scroll 0 0 #000000;
  -moz-border-radius: !top !right !bottom !left;
  border-top-left-radius: !top;
  border-top-right-radius: !right;
  border-bottom-right-radius: !bottom;
  border-bottom-left-radius: !left;
  -webkit-box-shadow: !one !two !three rgba(0, 0, 0, 0.5);
  -moz-box-shadow: !one !two !three rgba(0, 0, 0, 0.5);
  padding-bottom: 15px; }
  #features .feature {
    position: relative;
    margin-left: 12.5px;
    margin-bottom: 20px;
    width: 725px;
    height: 136px;
    font-size: 11px;
    letter-spacing: 1px;
    color: #010101;
    font-family: 'cgothb', 'century gothic,' verdana,arial,helvetica,sans-serif;
    font-weight: bold; }
    #features .feature .overlay {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 3; }
    #features .feature .main_title {
      position: absolute;
      top: 4px;
      left: 50px;
      color: lightGrey !important;
      font-size: 16px;
      z-index: 4; }
    #features .feature .picture {
      position: absolute;
      bottom: 0px;
      height: 126px;
      left: 4px;
      top: 11px;
      width: 394px;
      z-index: 2; }
    #features .feature .text {
      position: absolute;
      left: 450px;
      top: 40px;
      width: 257px;
      height: 80px;
      z-index: 2; }
    #features .feature .insert {
      background-color: #B9B9B9;
      height: 125px;
      position: absolute;
      right: 10px;
      top: 9px;
      width: 320px;
      z-index: 1; }

#login_form {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 18px; }

ul#nav_bar {
  width: 1011px;
  list-style-type: none;
  height: 45px;
  background-image: url("/images/nav_bar_bg.png");
  background-repeat: no-repeat; }
  ul#nav_bar img {
    display: inline; }
  ul#nav_bar li {
    margin-left: 27px;
    line-height: 45px;
    display: inline;
    vertical-align: top;
    position: relative; }
    ul#nav_bar li a {
      width: 100px;
      color: #ade2f5;
      font-family: 'cgothb', 'century gothic,' verdana,arial,helvetica,sans-serif;
      font-weight: bold;
      font-size: 23px;
      text-decoration: none;
      text-align: center;
      z-index: 1;
      position: relative; }
    ul#nav_bar li img {
      position: absolute;
      opacity: !value;
      ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=#!value*100)";
      filter: "aplha(opacity=#!value * 100)";
      left: -15px;
      top: -7px;
      width: 140%;
      height: 43px;
      z-index: 0; }

.hidden {
  display: none; }

#article_content {
  margin-left: -10px;
  position: relative; }
  #article_content #header {
    width: 751px;
    height: 71px;
    background-color: black;
    -moz-border-radius: !top !right !bottom !left;
    border-top-left-radius: !top;
    border-top-right-radius: !right;
    border-bottom-right-radius: !bottom;
    border-bottom-left-radius: !left;
    position: relative; }
    #article_content #header #left_content {
      font-size: 30px;
      position: absolute;
      left: 15px;
      bottom: 10px; }
      #article_content #header #left_content #type {
        color: #74aed3; }
      #article_content #header #left_content #title {
        color: #878787; }
    #article_content #header #right_content {
      position: absolute;
      right: 10px;
      bottom: 5px;
      font-size: 12px;
      color: #5681b1;
      text-align: right; }
    #article_content #header .grey {
      color: #878787; }
  #article_content .strip {
    width: 751px;
    height: 4px; }
  #article_content .strip.blue {
    background-color: #74aed3; }
  #article_content .strip.grey {
    background-color: #878787; }
  #article_content #article_body {
    -webkit-box-shadow: !one !two !three rgba(0, 0, 0, 0.5);
    -moz-box-shadow: !one !two !three rgba(0, 0, 0, 0.5);
    color: black;
    width: 721px;
    height: 100%;
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: url("/images/general_content_background.png"); }
  #article_content #header.partner {
    line-height: 71px;
    font-size: 24px; }
    #article_content #header.partner .partners {
      color: #74aed3; }
    #article_content #header.partner .other {
      color: #a6a7a7; }
  #article_content #partner_body {
    background-image: url("/images/partner_bg.png");
    width: 750px;
    height: 100%;
    padding-bottom: 45px;
    -moz-border-radius: !top !right !bottom !left;
    border-top-left-radius: !top;
    border-top-right-radius: !right;
    border-bottom-right-radius: !bottom;
    border-bottom-left-radius: !left; }

#time_now {
  color: #7c7c7c !important;
  font-size: 15px;
  top: -190px;
  height: 30px; }

/* Media index */
#media_container {
  height: 550px;
  width: 750px;
  margin-left: -11px;
  background-image: url("/images/media_bg.png");
  position: relative;
  -webkit-box-shadow: !one !two !three rgba(0, 0, 0, 0.5);
  -moz-box-shadow: !one !two !three rgba(0, 0, 0, 0.5); }
  #media_container #header {
    height: 50px;
    width: 120px;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 16px;
    text-align: center;
    line-height: 50px; }
    #media_container #header a {
      color: white; }
  #media_container #replay_header {
    left: 16px;
    line-height: 32px;
    text-align: center;
    height: 32px;
    width: 114px;
    position: absolute;
    cursor: pointer;
    top: 66px; }
    #media_container #replay_header a {
      color: white; }
  #media_container #vod_header {
    left: 16px;
    line-height: 32px;
    text-align: center;
    height: 32px;
    width: 114px;
    position: absolute;
    cursor: pointer;
    top: 99px; }
    #media_container #vod_header a {
      color: white; }
  #media_container #wallpaper_header {
    left: 16px;
    line-height: 32px;
    text-align: center;
    height: 32px;
    width: 114px;
    position: absolute;
    cursor: pointer;
    top: 132px; }
    #media_container #wallpaper_header a {
      color: white; }
  #media_container #search {
    position: absolute;
    top: 193px;
    left: 20px; }
    #media_container #search form input {
      font-family: 'cgothb', 'century gothic,' verdana,arial,helvetica,sans-serif;
      padding: 0;
      background: transparent;
      color: grey;
      border: 0;
      width: 105px;
      font-size: 14px;
      font-weight: bold;
      text-align: center; }
  #media_container #filters {
    position: absolute;
    top: 240px;
    left: 20px;
    color: grey; }
    #media_container #filters .header {
      width: 105px;
      text-align: center; }
    #media_container #filters .icon {
      display: block;
      height: 82px;
      width: 82px;
      margin-left: 8px;
      background-image: url('/images/media_filter_game_icons.png');
      background-repeat: no-repeat; }
    #media_container #filters .warcraft {
      background-position: -75px -82px; }
    #media_container #filters .starcraft {
      background-position: -75px 0px; }
    #media_container #filters .warcraft.true {
      background-position: 0px -82px; }
    #media_container #filters .starcraft.true {
      background-position: 0px 0px; }
  #media_container .true {
    background: -moz-linear-gradient(top,  #0097fc,  #39b0ff);
    background: -webkit-gradient(linear,  left top, left bottom, from(#0097fc), to(#39b0ff));
    opacity: !value;
    ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=#!value*100)";
    filter: "aplha(opacity=#!value * 100)"; }
  #media_container ::-webkit-scrollbar {
    width: 6px;
    height: 6px; }
  #media_container ::-webkit-scrollbar-button:start:decrement,
  #media_container ::-webkit-scrollbar-button:end:increment {
    display: none;
    height: 3px; }
  #media_container ::-webkit-scrollbar-button:vertical:increment {
    background-color: transparent; }
  #media_container ::-webkit-scrollbar-track-piece {
    background-color: #596673;
    -webkit-border-radius: 3px; }
  #media_container ::-webkit-scrollbar-thumb:vertical {
    height: 10px;
    background-color: #142B44;
    -webkit-border-radius: 3px; }
  #media_container #media_box {
    width: 586px;
    height: 450px;
    overflow-y: auto;
    position: absolute;
    right: 20px;
    top: 25px; }
  #media_container .media_item.wallpaper {
    height: 174px; }
    #media_container .media_item.wallpaper .media_item_outer {
      height: 174px; }
      #media_container .media_item.wallpaper .media_item_outer .media_item_inner {
        height: 157px;
        background-image: url("/images/download_wallpaper_background.png"); }
        #media_container .media_item.wallpaper .media_item_outer .media_item_inner .thumb {
          position: absolute;
          left: 32px;
          top: 10px; }
        #media_container .media_item.wallpaper .media_item_outer .media_item_inner .meta {
          position: absolute;
          width: 270px;
          height: 140px;
          right: 5px;
          top: 10px; }
          #media_container .media_item.wallpaper .media_item_outer .media_item_inner .meta .title {
            font-size: 20px;
            color: #6CB9F1; }
          #media_container .media_item.wallpaper .media_item_outer .media_item_inner .meta .summary {
            font-size: 12px;
            color: #B3E1F8;
            height: 75px; }
          #media_container .media_item.wallpaper .media_item_outer .media_item_inner .meta .links {
            line-height: 35px; }
          #media_container .media_item.wallpaper .media_item_outer .media_item_inner .meta .link {
            cursor: pointer;
            height: 29px;
            width: 25px;
            display: inline-block;
            vertical-align: middle;
            background-image: url("/images/download_wallpaper_arrow.png"); }
          #media_container .media_item.wallpaper .media_item_outer .media_item_inner .meta .ratio {
            height: 29px;
            width: 35px;
            margin-right: 10px;
            display: inline-block;
            vertical-align: middle;
            font-size: 18px;
            color: #49A5E8; }
  #media_container .media_item {
    width: 580px;
    height: 87px;
    margin-bottom: 20px;
    position: relative; }
    #media_container .media_item .media_item_outer {
      -moz-border-radius: !top !right !bottom !left;
      border-top-left-radius: !top;
      border-top-right-radius: !right;
      border-bottom-right-radius: !bottom;
      border-bottom-left-radius: !left;
      border: 2px white solid;
      width: 555px;
      height: 87px;
      background-color: #101010; }
      #media_container .media_item .media_item_outer .media_item_inner {
        width: 540px;
        height: 73px;
        border: 1px #333f45 solid;
        -moz-border-radius: !top !right !bottom !left;
        border-top-left-radius: !top;
        border-top-right-radius: !right;
        border-bottom-right-radius: !bottom;
        border-bottom-left-radius: !left;
        position: absolute;
        top: 7.5px;
        left: 7.5px; }
        #media_container .media_item .media_item_outer .media_item_inner .players {
          color: #6bb9f0;
          margin-left: 15px;
          margin-top: 2px;
          position: relative;
          z-index: 2; }
          #media_container .media_item .media_item_outer .media_item_inner .players .vs {
            margin-left: 10px;
            margin-right: 10px; }
        #media_container .media_item .media_item_outer .media_item_inner .meta {
          margin-left: 20px;
          z-index: 100;
          width: 75%;
          color: #cdd6da;
          font-size: 12px; }
        #media_container .media_item .media_item_outer .media_item_inner .desc {
          margin-left: 20px;
          z-index: 100;
          width: 75%;
          color: #fcfeff;
          font-size: 10px;
          position: absolute; }
        #media_container .media_item .media_item_outer .media_item_inner .map {
          position: absolute;
          top: 0px;
          right: 77px;
          z-index: 1; }
        #media_container .media_item .media_item_outer .media_item_inner .download {
          position: absolute;
          right: 10px;
          top: 10px; }
  #media_container #album_box {
    width: 586px;
    height: 385px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    right: 20px;
    top: 50px;
    overflow-y: auto; }
    #media_container #album_box .column {
      float: left;
      width: 161px;
      height: 150px;
      margin-bottom: 25px;
      margin-right: 15px;
      background-image: url('/images/album_bg.png');
      background-repeat: no-repeat;
      position: relative;
      cursor: pointer; }
      #media_container #album_box .column .photo_holder {
        height: 105px;
        left: 14px;
        line-height: 105px;
        position: absolute;
        top: 12px;
        width: 148px; }
        #media_container #album_box .column .photo_holder img {
          vertical-align: middle; }
      #media_container #album_box .column .title {
        background-color: transparent;
        color: grey;
        height: 25px;
        left: 15px;
        line-height: 25px;
        position: absolute;
        text-align: center;
        top: 118px;
        width: 155px; }

thead tr {
  height: 20px; }

.album_pic {
  float: left;
  cursor: pointer;
  line-height: 98px;
  width: 161px;
  height: 102px;
  margin-right: 25px;
  margin-bottom: 25px;
  -moz-border-radius: !top !right !bottom !left;
  border-top-left-radius: !top;
  border-top-right-radius: !right;
  border-bottom-right-radius: !bottom;
  border-bottom-left-radius: !left; }

/* background:  -moz-linear-gradient(top right,  #4e4f4f,  #e6e6e6)
 * background:  -webkit-gradient(linear,  right top, left bottom, from(#4e4f4f), to(#e6e6e6))*/
 * background-color:  black
 * +drop_shadow
 * img 
 *   vertical-align: middle */
.ad {
  -webkit-box-shadow: !one !two !three rgba(0, 0, 0, 0.5);
  -moz-box-shadow: !one !two !three rgba(0, 0, 0, 0.5); }

#tv_container {
  height: 550px;
  width: 750px;
  margin-left: -11px;
  background-image: url("/images/grubbytv_background.png");
  position: relative;
  -webkit-box-shadow: !one !two !three rgba(0, 0, 0, 0.5);
  -moz-box-shadow: !one !two !three rgba(0, 0, 0, 0.5); }
  #tv_container #live_link {
    background-image: url("/images/grubby_tv_livebutton.png");
    width: 157px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    right: 25px; }
  #tv_container #live_link.true {
    background-position: -157px 0px; }
  #tv_container #live_link.false {
    background-position: 0px 0px; }
  #tv_container #header {
    height: 50px;
    width: 120px;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 20px;
    text-align: center;
    line-height: 50px; }
    #tv_container #header a {
      color: white; }
  #tv_container #live_header {
    left: 16px;
    line-height: 32px;
    text-align: center;
    height: 32px;
    width: 114px;
    position: absolute;
    cursor: pointer;
    top: 66px; }
    #tv_container #live_header a {
      color: white; }
  #tv_container #training_header {
    left: 16px;
    line-height: 32px;
    text-align: center;
    height: 32px;
    width: 114px;
    position: absolute;
    cursor: pointer;
    top: 99px; }
    #tv_container #training_header a {
      color: white; }
  #tv_container #event_header {
    left: 16px;
    line-height: 32px;
    text-align: center;
    height: 32px;
    width: 114px;
    position: absolute;
    cursor: pointer;
    top: 132px; }
    #tv_container #event_header a {
      color: white; }
  #tv_container #search {
    position: absolute;
    top: 193px;
    left: 20px; }
    #tv_container #search form input {
      font-family: 'cgothb', 'century gothic,' verdana,arial,helvetica,sans-serif;
      padding: 0;
      background: transparent;
      color: grey;
      border: 0;
      width: 105px;
      font-size: 14px;
      font-weight: bold;
      text-align: center; }
  #tv_container #filters {
    position: absolute;
    top: 240px;
    left: 20px;
    color: grey; }
    #tv_container #filters .header {
      width: 105px;
      text-align: center; }
    #tv_container #filters .icon {
      display: block;
      margin-left: 8px;
      height: 82px;
      width: 82px;
      background-image: url('/images/grubbytv_filter_game_icons.png');
      background-repeat: no-repeat; }
    #tv_container #filters .warcraft {
      background-position: -75px -82px; }
    #tv_container #filters .starcraft {
      background-position: -75px 0px; }
    #tv_container #filters .warcraft.true {
      background-position: 0px -82px; }
    #tv_container #filters .starcraft.true {
      background-position: 0px 0px; }
  #tv_container .true {
    background: -moz-linear-gradient(top,  #447362,  #2c6651);
    background: -webkit-gradient(linear,  left top, left bottom, from(#447362), to(#2c6651));
    opacity: !value;
    ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=#!value*100)";
    filter: "aplha(opacity=#!value * 100)"; }
  #tv_container ::-webkit-scrollbar {
    width: 6px;
    height: 6px; }
  #tv_container ::-webkit-scrollbar-button:start:decrement,
  #tv_container ::-webkit-scrollbar-button:end:increment {
    display: none;
    height: 3px; }
  #tv_container ::-webkit-scrollbar-button:vertical:increment {
    background-color: transparent; }
  #tv_container ::-webkit-scrollbar-track-piece {
    background-color: #596673;
    -webkit-border-radius: 3px; }
  #tv_container ::-webkit-scrollbar-thumb:vertical {
    height: 10px;
    background-color: #78bba3;
    -webkit-border-radius: 3px; }
  #tv_container #tv_box {
    width: 586px;
    height: 500px;
    overflow-y: auto;
    position: absolute;
    right: 20px;
    top: 25px; }
  #tv_container .box {
    -moz-border-radius: !top !right !bottom !left;
    border-top-left-radius: !top;
    border-top-right-radius: !right;
    border-bottom-right-radius: !bottom;
    border-bottom-left-radius: !left;
    border: 3px #4d8e5e solid;
    width: 575px;
    height: 355px;
    background-color: 'transparent';
    display: table; }
    #tv_container .box #cell {
      display: table-cell;
      vertical-align: middle; }
  #tv_container .dialog {
    -moz-border-radius: !top !right !bottom !left;
    border-top-left-radius: !top;
    border-top-right-radius: !right;
    border-bottom-right-radius: !bottom;
    border-bottom-left-radius: !left;
    border: 3px #4d8e5e solid;
    width: 575px;
    height: 95px;
    margin-top: 5px;
    background-color: 'transparent';
    position: relative; }
    #tv_container .dialog .inner {
      width: 560px;
      height: 80px;
      border: 2px #182c1d solid;
      -moz-border-radius: !top !right !bottom !left;
      border-top-left-radius: !top;
      border-top-right-radius: !right;
      border-bottom-right-radius: !bottom;
      border-bottom-left-radius: !left;
      position: absolute;
      top: 6.5px;
      left: 6.5px; }
      #tv_container .dialog .inner .controls {
        position: relative;
        height: 17px; }
        #tv_container .dialog .inner .controls span {
          position: absolute; }
      #tv_container .dialog .inner .video_title {
        margin-left: 15px;
        margin-top: 5px; }
      #tv_container .dialog .inner .video_summary {
        margin-left: 15px; }
  #tv_container .tv_item {
    width: 580px;
    height: 87px;
    margin-bottom: 20px;
    position: relative; }
    #tv_container .tv_item .tv_item_outer {
      -moz-border-radius: !top !right !bottom !left;
      border-top-left-radius: !top;
      border-top-right-radius: !right;
      border-bottom-right-radius: !bottom;
      border-bottom-left-radius: !left;
      border: 2px #4d8e5e solid;
      width: 555px;
      height: 87px;
      background-color: #101010; }
      #tv_container .tv_item .tv_item_outer .tv_item_inner {
        width: 540px;
        height: 73px;
        border: 1px #182c1d solid;
        -moz-border-radius: !top !right !bottom !left;
        border-top-left-radius: !top;
        border-top-right-radius: !right;
        border-bottom-right-radius: !bottom;
        border-bottom-left-radius: !left;
        position: absolute;
        top: 7.5px;
        left: 7.5px; }
        #tv_container .tv_item .tv_item_outer .tv_item_inner .title {
          margin-left: 20px;
          z-index: 100;
          width: 75%;
          color: #b6bec0;
          font-size: 12px; }
        #tv_container .tv_item .tv_item_outer .tv_item_inner .meta {
          margin-left: 20px;
          z-index: 100;
          width: 75%;
          color: #c0dce8;
          font-size: 12px; }
        #tv_container .tv_item .tv_item_outer .tv_item_inner .desc {
          margin-left: 20px;
          z-index: 100;
          width: 75%;
          color: #fcfdfe;
          font-size: 10px;
          position: absolute; }
        #tv_container .tv_item .tv_item_outer .tv_item_inner .overlay {
          position: absolute;
          top: 2px;
          right: 77px;
          width: 133px;
          height: 69px;
          display: block; }
          #tv_container .tv_item .tv_item_outer .tv_item_inner .overlay .inner {
            background-image: url('/images/grubbytv_vodoverlay.png');
            background-repeat: no-repeat;
            position: absolute;
            width: 133px;
            height: 69px;
            z-index: 2; }
          #tv_container .tv_item .tv_item_outer .tv_item_inner .overlay img {
            position: absolute;
            z-index: 1; }
        #tv_container .tv_item .tv_item_outer .tv_item_inner .download {
          position: absolute;
          right: 10px;
          top: 10px; }
          #tv_container .tv_item .tv_item_outer .tv_item_inner .download a {
            display: block;
            cursor: pointer;
            height: 53px;
            width: 60px; }
          #tv_container .tv_item .tv_item_outer .tv_item_inner .download .default {
            background-image: url('/images/grubbytv_videotype_play_icons.png');
            background-repeat: no-repeat;
            background-position: -287px 0px; }
          #tv_container .tv_item .tv_item_outer .tv_item_inner .download .you_tube {
            background-image: url('/images/grubbytv_videotype_play_icons.png');
            background-repeat: no-repeat;
            background-position: -77px 0px; }
          #tv_container .tv_item .tv_item_outer .tv_item_inner .download .justintv {
            background-image: url('/images/grubbytv_videotype_play_icons.png');
            background-repeat: no-repeat;
            background-position: -145px 0px; }
          #tv_container .tv_item .tv_item_outer .tv_item_inner .download .gomtv {
            background-image: url('/images/grubbytv_videotype_play_icons.png');
            background-repeat: no-repeat;
            background-position: -3px 0px; }
          #tv_container .tv_item .tv_item_outer .tv_item_inner .download .bliptv {
            background-image: url('/images/grubbytv_videotype_play_icons.png');
            background-repeat: no-repeat;
            background-position: -220px 0px; }

.side_date {
  -moz-transform: rotate(90deg);
  -moz-transform-origin: 50% 50%;
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: 50% 50%;
  position: absolute;
  right: -25px;
  top: 30px;
  color: #CDD4DC;
  font-size: 14px; }

.avatar_picker {
  height: 15px;
  width: 15px; }

#avatars img {
  margin-right: 40px; }

.mouse_pad {
  display: inline-block;
  left: 150px;
  position: absolute;
  top: 500px;
  width: 200px;
  height: 175px; }

.headset {
  display: inline-block;
  height: 150px;
  left: 505px;
  position: absolute;
  top: 550px;
  width: 100px; }

.keyboard {
  display: inline-block;
  height: 100px;
  left: 360px;
  position: absolute;
  top: 465px;
  width: 200px; }

.mouse {
  display: inline-block;
  height: 100px;
  left: 330px;
  position: absolute;
  top: 615px;
  width: 145px; }
