.wysiwyg {
  background: transparent !important;
  border: 0 !important;
  color: #2c2c2c;
  padding: 5px; }

.wysiframe {
  width: 535px;
  color: #2c2c2c; }

div.wysiwyg ul.toolbar li {
  border: 0 !important; }

div.wysiwyg ul.toolbar {
  border: 0 !important; }
