.wysiwyg {
  background: transparent !important;
  border: 0 !important;
  color: #2c2c2c;
  padding: 5px; }

.wysiframe {
  width: 535px;
  color: #2c2c2c; }

div.wysiwyg ul.toolbar li {
  border: 0 !important; }

div.wysiwyg ul.toolbar {
  border: 0 !important; }

.quote_box {
  background: none repeat scroll 0 50% #A4D5FF;
  border: 1px solid #84AFD3;
  padding: 5px; }
  .quote_box .quote_header {
    font-size: 16px;
    color: black;
    font-family: 'cgothb'; }
  .quote_box .quote_body {
    color: white;
    width: 100%;
    height: 18px;
    line-height: 18px; }
