.wysiwyg {
  background: transparent !important;
  border: 0 !important;
  color: #A9AAAB;
  padding: 5px;
  font-weight: bold; }

.wysiframe {
  width: 535px;
  color: #A9AAAB; }

div.wysiwyg ul.toolbar li {
  border: 0 !important; }

div.wysiwyg ul.toolbar {
  border: 0 !important; }

p {
  margin: 0; }

.quote_box {
  padding: 5px; }
  .quote_box .quote_body {
    background-image: url(/images/quote_fade_invert.png);
    background-repeat: repeat;
    color: #77797b;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: 395px;
    line-height: 18px; }
