.ff3 #forum_body .forum_title {
  font-family: Verdana,arial,helvetica,sans-serif !important;
  font-weight: bold !important; }

#forum_body #header {
  background-color: #030303;
  background: -moz-linear-gradient(top left,  #1c1c1c,  #030303);
  background: -webkit-gradient(linear, right top, right bottom, from(#1c1c1c), to(#030303));
  width: 740px;
  height: 71px;
  color: #3F3F3F;
  -moz-border-radius: 15px 15px 0px 0px;
  -khtml-border-radius: 15px 15px 0px 0px;
  -o-border-radius: 15px 15px 0px 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  position: relative;
  line-height: 110px;
  text-align: center; }
  #forum_body #header .top_header {
    position: absolute;
    color: white;
    top: -20px;
    left: 5p; }
  #forum_body #header .right_header {
    position: absolute;
    right: 5px;
    font-size: 12px;
    color: #7F7F7F; }
    #forum_body #header .right_header a {
      color: #7F7F7F; }
    #forum_body #header .right_header a:visited {
      color: #7F7F7F; }
  #forum_body #header .left_header {
    position: absolute;
    left: 5px; }
#forum_body #forums_body {
  position: relative;
  -moz-border-radius: 0px 0px 15px 15px;
  -khtml-border-radius: 0px 0px 15px 15px;
  -o-border-radius: 0px 0px 15px 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 10px;
  color: black;
  width: 730px;
  height: 100%;
  font-size: 14px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 25px;
  background-image: url("/images/forum_background.png"); }
  #forum_body #forums_body .powered_by {
    position: absolute;
    bottom: 1px;
    color: #030303;
    left: 18px;
    font-size: 12px;
    padding: 5px; }
    #forum_body #forums_body .powered_by a {
      color: #1D74D6; }
  #forum_body #forums_body .forum_box {
    position: relative;
    background-color: #030303;
    background: -moz-linear-gradient(top left,  #363636,  #030303);
    background: -webkit-gradient(linear, right top, right bottom, from(#363636), to(#030303));
    width: 708px;
    -moz-border-radius: 10px 10px 10px 10px;
    -khtml-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5); }
    #forum_body #forums_body .forum_box .background_image {
      z-index: 1;
      position: absolute;
      right: 0px;
      top: 0px; }
    #forum_body #forums_body .forum_box .forum_title {
      color: #99999B;
      -moz-transform: rotate(90deg);
      -moz-transform-origin: 50% 50%;
      -webkit-transform: rotate(90deg);
      -webkit-transform-origin: 50% 50%;
      font-family: Verdana,arial,helvetica,sans-serif;
      font-weight: bold;
      font-size: 36px;
      left: -110px;
      top: 110px;
      position: absolute;
      width: 250px; }
      #forum_body #forums_body .forum_box .forum_title a {
        color: #656766 !important; }
    #forum_body #forums_body .forum_box .box_body {
      position: relative;
      z-index: 2;
      color: grey;
      margin-left: 100px;
      min-height: 230px;
      padding-top: 20px;
      padding-bottom: 25px; }
      #forum_body #forums_body .forum_box .box_body .forum_description {
        font-size: 18px;
        padding-right: 10px;
        color: #99999B;
        margin-bottom: 5px; }
      #forum_body #forums_body .forum_box .box_body .subforum_title {
        font-size: 16px; }
        #forum_body #forums_body .forum_box .box_body .subforum_title .dots {
          color: grey; }
        #forum_body #forums_body .forum_box .box_body .subforum_title .title {
          color: #638DBF; }
      #forum_body #forums_body .forum_box .box_body .subforum_info {
        font-size: 10px; }
    #forum_body #forums_body .forum_box .last_post {
      position: absolute;
      bottom: 5px;
      left: 0px;
      font-size: 10px; }

/* topic list */
.ff3 topic_buttons .add_topic {
  font-family: Verdana,arial,helvetica,sans-serif !important;
  font-weight: bold !important; }
  .ff3 topic_buttons .add_topic a {
    font-family: Verdana,arial,helvetica,sans-serif !important;
    font-weight: bold !important; }

.topic_buttons {
  position: absolute;
  right: 22px;
  top: 15px; }
  .topic_buttons .add_topic {
    background-color: #c9c9c9;
    background: -moz-linear-gradient(top left,  #e3e3e3,  #c9c9c9);
    background: -webkit-gradient(linear, right top, right bottom, from(#e3e3e3), to(#c9c9c9));
    box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 10px;
    -moz-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #6C9DD7 !important;
    background-color: white;
    padding: 5px;
    font-size: 12px;
    margin-right: 5px;
    font-family: Verdana,arial,helvetica,sans-serif;
    font-weight: bold; }
    .topic_buttons .add_topic img {
      position: relative;
      top: 4px; }
    .topic_buttons .add_topic a {
      color: #6C9DD7 !important;
      font-family: Verdana,arial,helvetica,sans-serif;
      font-weight: bold; }

.topic {
  color: grey;
  padding-top: 5px;
  margin-top: 15px;
  position: relative;
  background-color: #030303;
  background: -moz-linear-gradient(top left,  #363636,  #030303);
  background: -webkit-gradient(linear, right top, right bottom, from(#363636), to(#030303));
  width: 660px;
  -moz-border-radius: 10px 10px 10px 10px;
  -khtml-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 10px;
  height: 50px;
  padding-left: 50px; }
  .topic .status {
    position: absolute;
    left: 20px;
    top: 15.5px; }
  .topic .topic_title a {
    color: #638DBF;
    font-size: 18px; }
  .topic .topic_info {
    font-size: 10px; }
  .topic .topic_check {
    position: absolute;
    left: 0px;
    top: 15.5px; }
  .topic .pagination {
    background: transparent;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 0px; }

.reply_box {
  color: #A9AAAB;
  background-color: #d2d2d2;
  background: -moz-linear-gradient(top left,  #dbdbdb,  #d2d2d2);
  background: -webkit-gradient(linear, right top, right bottom, from(#dbdbdb), to(#d2d2d2));
  width: 675px;
  padding-left: 15px;
  padding-top: 3px;
  padding-right: 15px;
  height: 250px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -khtml-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; }
  .reply_box .reply_text {
    position: relative;
    top: -142px;
    left: 107px; }
  .reply_box input[type='submit'] {
    background-image: url("/images/post_create_highlight.png");
    color: #74AED3;
    background-color: transparent;
    height: 43px;
    width: 93px;
    position: absolute;
    bottom: 0px;
    right: 45px;
    font-size: 12px; }

.current {
  color: #1C60B1 !important; }

.current:visited {
  color: #1C60B1 !important; }

.quote_box {
  padding: 5px; }
  .quote_box .quote_body {
    background-image: url(/images/quote_fade.png);
    background-repeat: repeat;
    color: #77797b;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: 395px;
    line-height: 18px; }

.ie8 .forum_title {
  top: 15px !important;
  left: -10px !important;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); }

.ie9 .forum_title {
  top: 15px !important;
  left: -10px !important;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); }

.ie7 .forum_title {
  top: 15px !important;
  left: -10px !important;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); }
