%div#welcome_box
  %div.container
    %div.section
      %div.bullet
      %div.header BEING A PROGAMER
      %div.body Is a one of a kind occupation. While many gamers dream of being a progamer, plenty of outsiders do not understand the attraction of the job. While everyone makes their own decisions, providing some insight of what it’s really like, is one of my constant missions.
      %br
    %div.section
      %div.bullet
      %div.header KEEP FOLLOWING
      %div.body Previously you’ve already been able to Follow me on Twitter, Facebook, Justin.tv, YouTube, QQ, Sina, Blogger, Blogspot and Tumblr; now you can add one more bookmark on your browser; www.FollowGrubby.com! While the social network sites like Twitter & Facebook will continue to function as communicative methods with my faithful followers, this website will centralize many of the activities surrounding Grubby and Team Grubby. You can catch my stream, read my weblogs, download my replays, wallpapers, you name it, all in one place. Welcome to my domain – literally!
      %br
