%center
  %h1 FollowGrubby.com Privacy Policy  
%p 
  %span This Privacy Policy tells you how we will use your information when you use FollowGrubby.com. FollowGrubby.com is concerned about protecting your privacy in the processing of your personal information. From time to time FollowGrubby.com may update this Privacy Policy to reflect changes in the way in which FollowGrubby.com uses and process your personal information. By continuing to use FollowGrubby.com you indicate your acceptance of the revised Privacy Policy. Please review the Privacy Policy regularly to ensure you are aware of any updates. This Privacy Policy was last revised in 
  %bold 
    February 2011.
%p When you supply any personal information to FollowGrubby.com, we have legal obligations towards you in the way we deal with that information. We must collect the information fairly, that is, we must explain how we will use it. Any personal information collected during visits to FollowGrubby.com is processed according to the legal provisions of applicable data privacy and data protection legislation. 
%p This Privacy Policy covers your use of FollowGrubby.com and applies to individuals who participate in FollowGrubby.com. 
%p 
  %strong Collection of your information
  %br 
  %span If you do not join FollowGrubby.com, then FollowGrubby.com does not collect any personal information about you through FollowGrubby.com, although we may track your use of FollowGrubby.com by using cookies (please see the section entitled 'Cookies' below). 
%p If you submit information to FollowGrubby.com for inclusion on FollowGrubby.com, we will collect your submissions as your personal information.  By submitting your personal information to FollowGrubby.com, you agree that FollowGrubby.com can process your information in accordance with this Privacy Policy. 
%p 
  %strong FollowGrubby.com and storage of your information
  %br
  %span When you use FollowGrubby.com, we may collect the following information from you: 
%ul{:style => "list-style: disc outside none;padding-left: 40px;"}
  %li facebook id
  %li a separate user id assigned by FollowGrubby.com 
  %li email address 
  %li name and business id fo busiensses you visted 
  %li the facebook user ids of your friends to be able to relate you to your friends. 
%p We use this information for the following purposes: 
%ul{:style => "list-style: disc outside none;padding-left: 40px;"}
  %li to join you as a user of FollowGrubby.com
  %li to administer your use of FollowGrubby.com 
  %li to update our records
  %li for audit purposes and 
  %li to carry out user satisfaction research.
%p
  %strong User Generated Content ("UGC")
  %br
  %span UGC that you submit to FollowGrubby.com may include personal information. Your facebook friends will be able to access your UGC. You should only include personal information about others in the UGC posted by you where those others have granted permission for you to do so. 
%p We store and display UGC on behalf of you but we will not extract personal information contained in UGC for our own purposes. 
