%center
  %h1 FollowGrubby.com Terms of Use
%p These Terms cover your use of FollowGrubby and apply to those who participate in FollowGrubby.com or visit FollowGrubby.com
%p 
  %span By using FollowGrubby.com, you agree to be bound by these Terms. If you do not accept these Terms, you cannot use FollowGrubby.com and must exit FollowGrubby.com immediately.  These Terms incorporate the FollowGrubby.com Privacy Policy 
  %a{:href => '/pages/privacy'} [hyperlink]
%p 
  %strong Please review these Terms carefully, as they are a legally binding agreement between you and FollowGrubby.com and contain important provisions relating to your legal rights and obligations. Please look especially at sections 10 (Legal Disclaimer), 11 (Disclaimer of Warranties), 14 (Limitation of Liability), 15 (Indemnification) and 20 (Responsibilities for residents outside US).
%p  
  %strong
    %span 2. 
    %span{:style => 'text-decoration: underline'} Use of FollowGrubby.com
  %br 
%p You agree that all information you provide on FollowGrubby.com will be true, accurate, complete and not misleading.  You must take reasonable care over your personal information and safety when using FollowGrubby.com.
%p 
  %strong 
    %span 3. 
    %span{:style => 'text-decoration: underline'} Accuracy of Information
  %br
  %span All information on FollowGrubby.com is provided by users like yourself.  FollowGrubby.com is not responsible for the content posted on FollowGrubby.com.  The information you see reflects information FollowGrubby.com obtained at the time of posting.  FollowGrubby.com cannot and does not regularly update this information.  
%p
  %strong
    %span 4. 
    %span{:style => 'text-decoration: underline'} Your Responsibilities
  %br
  %span You alone are responsible for the content, accuracy and suitability of any photos, videos, text, communications, links or other materials submitted by you on FollowGrubby.com ("User Generated Content").  You represent and agree that your UGC complies with FollowGrubby.com&#39;s Code of Conduct in Section 7.
%p You can only post UGC to FollowGrubby.com that you yourself created or that you have permission to post.  You confirm that you own the UGC you post or otherwise have all necessary rights (including, but not limited to, copyright, trade marks and other intellectual property rights) to allow FollowGrubby.com and its users to use your UGC according to these Terms.
%p 
  %span By submitting UGC to FollowGrubby.com, you grant to FollowGrubby.com a royalty-free, worldwide, non-exclusive right and license for the full duration of your legal rights arising in the UGC to:
  %ul{:style => "list-style: disc outside none; padding-left: 40px"}
    %li make copies of, reproduce the UGC for posting or storage on FollowGrubby.com;   
    %li represent and communicate to others your UGC on FollowGrubby.com&#39;s site;
    %li use, modify, delete from or add to such UGC for any purpose in connection with FollowGrubby.com or otherwise as envisaged by these Terms. 
%p You also grant to FollowGrubby.com&#39;s participants a non-exclusive, royalty-free, worldwide, license for the full duration of your legal rights to use, reproduce, distribute, prepare derivative works of and display UGC for any purpose in connection with FollowGrubby.com. 
%p You agree to make your UGC available to FollowGrubby.com and other participants without payment or other compensation to you.  FollowGrubby.com does not claim any ownership rights in your UGC - you retain full ownership of the UGC you post on FollowGrubby.com.  You are responsible for making back-up copies of UGC that you submit to FollowGrubby.com for inclusion on FollowGrubby.com.  FollowGrubby.com is not responsible for any loss, corruption or damage to UGC. 
%p
  %strong
    VPPA
  %span &#45; If applicable, you must comply with the US Video Privacy Protection Act of 1988 ("VPPA").  You cannot use FollowGrubby.com to post any video of any person without their informed, written consent at the time of posting.  You agree FollowGrubby.com has no obligations under the VPPA.
%p Unless prohibited by law, FollowGrubby.com may disclose your identity and contact details to a third party claiming that your posted UGC violates their intellectual property rights or of their right to privacy or who has otherwise
