%style{:type => "text/css", :media => "screen"}
  :plain
    #slideshow {
    	width: 586px;
      height: 455px;
    	position:absolute;
    	top: 0px;
      background: -moz-linear-gradient(right,  #0c0c0c,  #1f2121);
      background: -webkit-gradient(linear, left top, right bottom, from(#363636), to(#030303))
    }
    #slideshow #slidesContainer {
      margin:0 auto;
      width: 555px;
      height: 455px;
    }
    #slideshow #slidesContainer .slide {
      margin: auto;
      width: 555px;
      height: 455px;
    }
    .top_bar {
      background-color: black;
      height: 25px;
      width: 100%;
      left: 0px;
      position: absolute;
      top: 0px;
      z-index: 2;
    }
    .bottom_bar {
      background-color: black;
      height: 60px;
      width: 100%;
      position: absolute;
      bottom: 0px;
      z-index: 2;
      left: 0px;
    }
    
    .side_bar {
      background-color: black;
      height: 100%;
      width: 20px;
      position: absolute;
      top: 0px;
      z-index: 2;
      left: -20px;
    }
    .title {
      background-color: transparent;
      height: 20px;
      position: relative;
      z-index: 3;
    }
    
    div.photo {
      height: 375px;
      line-height: 387px;
      text-align: center;
      width: 375px;
    }
    
    *>div.photo {
    	font-size:12px
    }
    
    .photo img {
      vertical-align: middle;
    }
    .desc {
      height: 60px;
      position: relative;
      z-index: 3;
      top: 15px;
      width: 85%;
    }
    /** 
     * Slideshow controls style rules.
     */
    .control {
      display:block;
      width:39px;
      height:263px;
      position:absolute;
      cursor: pointer;
    }
    #leftControl {
      top: 70px;
      left:0;
      background:transparent url(/images/control_left.png) no-repeat 0 0;
    }
    #rightControl {
      right: -18px;
      top: 70px;
      background:transparent url(/images/control_right.png) no-repeat 0 0;
    }
:javascript
  $(document).ready(function(){
    $('#slidesContainer').cycle({
        fx:     'scrollHorz',
        prev:   '#leftControl',
        next:   '#rightControl',
        timeout: 0,
        startingSlide: parseInt($('#album_box').attr('position'))
    });
    console.log("wut");
  });

/ = image_tag(p.picture.url(:normal), :size => '555x375')
#album_box{:style => "right: 20px; top: 20px; height: 465px; overflow: hidden;color: grey", :slides => @album.photos.size, :position => params[:position]}
  %div.top_bar
  %div#slideshow
    %span.control#leftControl
    %div#slidesContainer{:style => "z-index: 1;"}
      - @album.photos.each do |p|
        .slide
          %center
            %div.title= p.title || p.album.title
            %div.photo{:style => "width: 555px;"}
              = image_tag(p.picture.url(:normal))
            %div.desc= p.description || p.album.description
    %span.control#rightControl        
  %div.bottom_bar
    %a{:href => album_path(@album), :style => "position: absolute; left: 0px; z-index: 2;"}
      = image_tag("/images/gallery_backtoalbum_icon.png")

            

